@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@700&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: #fff9de;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
